@page "/about"
@model Razor_Page_Intro.Pages.About
@using Razor_Page_Intro.Pages

@{
    // var foo = new IndexModel().Foo;
}

<div class="text-center">
    <h1 style="color: #0a53be">About page</h1>
    @* <p>@foo("Gun El")</p> *@
</div>